body{
    margin:0px;
}
div.container {
    height: 100vh;
    min-height:100%;
    overflow: hidden;
}

div.title {
    align:center;
    width : 100%;
    text-align: center;
    background:#f1f2ea;
    font-size:25px;
    padding-top:10px;
    padding-bottom:20px;
    cursor:pointer;
}

div.foot {
    align:center;width:100%;
    text-align: center;
    border:0px solid black;
    background:#f1f2ea;
    font-size:15px;
    padding-bottom:20px;
    padding-top:10px;
    cursor:pointer;
    position: fixed;
    bottom:0px;
}

div.left {
    float: none; /* not needed, just for clarification */
    width:20%;
    text-align: right;
    display:table-cell;
    display:inline-block;
}

div.right {
    float: right;
    width:80%;
    height:100%;
    background: #aafed6;
    display:table-cell;
    display:inline-block;
}

div.leftLine {
    margin-top:5px;
    margin-right:10px;
    font-size:16px;
    cursor: pointer;
}

input.rightLine {
    margin-top:5px;
    margin-left:10px;
    font-size:16px;
    display:inline-block;
}

input.operator {
    display:inline-block;
}
